################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Advising_System/FileContentIndex/cdd4d556-34cf-4d0d-baea-d8a8f6d8d178.vsidx
